<%- include('partials/header.ejs') %>

<title>Contact Page</title>
<link rel="stylesheet" href="/styles/main_edit.css">
<link rel="stylesheet" href="/styles/contact.css">


<div class="Main">
    <div class="heading">
        <h1>Page Is Under Construction</h1>
        <p>This page is Currently Under Construction</p>
    </div>
    <div class="body">
        <div class="left">
            <p>In the meantime, stay connected and keep an eye out for updates. Your patience will be rewarded with something truly special.</p>
            <div class="Buttons">
                <a href="/">Home</a>
                <a href="/signup">SignUp</a>
            </div>
        </div>
        <div class="right">
            <img src="/images/UC.png" alt="">
        </div>

    </div>
    <div class="text">
        <h3>"Thank you for your understanding—great things are on the way!”</h3>
    </div>
</div>









<%- include('partials/footer.ejs') %>
