<%- include('partials/header.ejs') %>

<title>Signup_Section</title>
<link rel="stylesheet" href="/styles/main_edit.css"/>
<link rel="stylesheet" href="/styles/sign_up.css"/>


<div class="Main">

<div class="heading">
    <h1>SIGN IN</h1>
</div>

<div class="Main_Content">
    <div class="forms">
        <h3>Start For Free</h3>
        <h2>Sign In Your Account</h2>
         <p>Not a member ? <a href="/signup">Sign up</a></p>
 <form action="/signin" method="post" id="Jk">
<div class="naming">

</div>
<input type="email" name="username" placeholder="Gmail">
<input type="text" name="password" placeholder="Password">
<a id="fp" href="/fp">Forgot Password ?</a>

<button type="submit" id="signinBtn">Login</button>

 </form>


<!-- Improve  -->



 <!-- <h3 id="ui">Or Sign In With</h3>
 <a id="ub" href="/auth/google">
    <img id="goog" src="/images/google.png" alt="">
    <h3>Google</h3>
 </a> -->

    </div>
    <div class="image" id="image">
     <p>Become a Member</p>
     <h1>Join Our Community</h1>
     <p>and never Miss a Story</p>
     
    </div> 
</div>



</div>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  // Check if the URL has the 'showAlert' parameter
  const urlParams = new URLSearchParams(window.location.search);
  const showAlert = urlParams.get('showAlert');
  const message = urlParams.get('message');

  // If 'showAlert' is true, display the alert
  if (showAlert === 'true') {
    swal({
      title: "Error!",
      text: message,
      icon: "error",
      button: "OK",
    }).then(() => {
      // Remove the query parameter from the URL after displaying the alert
      if (window.history.replaceState) {
        const url = new URL(window.location);
        url.searchParams.delete('showAlert');
        window.history.replaceState(null, '', url);
      }
    });
  }
</script>
  

<!-- Footer  -



<%- include('partials/footer.ejs') %>



